<%- include('../common/header.ejs') %>
<div class="wrapper cart_wrapper">


    <%- include('../common/topnav.ejs') %>


     <!-- LOGIN REMINDER -->

    <div style="<%= userId ? 'display:none' : 'display:block' %>" class="login_to_view">
        <div class="log_frame">
            <h3>PLEASE LOG IN</h3>
            <p>Login to view items in your CART</p>
            <img src="#" class="cart_png" alt="">
            <button onclick="location.href = '/login' " class="login_from_wish_btn">LOGIN</button>
        </div>
    </div>

    <div class="content cart_content">    

        
        <!-- YOU CART IS EMPTY -->
        <div style="<%= (()=>{
            const list = cart ? cart.products : [];
            return list.length == 0 ? 'display:block' : 'display:none'
            })() %>" class="login_to_view">
            <div class="log_frame" style="display: flex;justify-content: center;">
                <h3>Your Cart is Empty</h3>
                <p>Looks like you haven't added anything to your Cart yet.</p>
                <img src="#" class="cart_png" alt="">
            </div>
        </div>
            
            
        <div class="product_frame" style="margin-top: 0;display: flex; justify-content: start;">
            <!-- CART  -->
            
            <% cartProducts.products.forEach(product =>{ %>
            <div class="product product<%= product.productId._id %>" onclick="productView(event,'<%= product.productId._id %>')">
                <div class="image_sec">
                    <img src="/uploads/product/<%= product.productId.productImage[0] %>" style="width: 6rem; height: 7.2rem;" alt="">
                </div>
                <div class="discription_sec">
                    <p class="product_name"><%= product.productId.productName %> </p>
                    <div id="error" style="color: red;" product-price="<%= product.productId.price %>" product-discount="<%= product.productId.discount %>"></div>
                    <div style="display: flex; gap: 1rem; align-items: center;">
                        <select class="quantity_count<%= product.productId._id %>"  name="quantity" style="outline: none; padding: .3rem;  " onclick="selectQuantity(event,'<%= product.productId._id %>')">
                            <option value="<%= product.quantity %>"> <%= product.quantity %></option>
                            <% for(i = 1; i <= product.productId.stock; i++){ %>
                                <% if(i ==  product.quantity ){ continue } %>
                                    <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                        <div class="stock_left"> <%= product.productId.stock %> stock Left</div>
                    </div>
                    <div style="display: flex; gap: .7rem; align-items: center;" >
                        <p class="old_price old_price<%= product.productId._id %>"><%= product.productId.price * product.quantity %></p>
                        <p class="new_price new_price<%= product.productId._id %>"><%= (product.productId.price - product.productId.discount) * product.quantity %></p>
                        <p class="discount"><%= Math.round((product.productId.discount / product.productId.price) * 100) %>%</p>
                    </div>
                    <p class="return_status">Return policy 
                        <i class="bi bi-check"></i>
                        <i class="bi bi-x"></i>
                    </p>
                </div>
                <div class="delete_section">
                    <div style="margin-bottom: 1rem;">
                        <button onclick="deleteCartItem(event,'<%= product.productId._id %>')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        
                
        <div class="price_frame">
            <div class="price_sub_frame">
                <div class="cart_details"> 
                    <p>Cart Items</p>
                    <p class="cartCount"><%= cart ? cart.products.length : 0 %> </p>
                </div>
                <div class="cart_details"> 
                    <p>Cart Total</p>
                    <p>
                        <i class="bi bi-currency-rupee"></i>
                        <span class="cart_total">
                            <%= cartProducts.products.reduce((acc, value) =>{ return acc += value.productId.price * value.quantity }, 0) %>
                        </span>
                    </p>
                </div>
                <div class="cart_details"> 
                    <p>Discount </p>
                    <p>
                        <i class="bi bi-currency-rupee"></i>
                        <span class="productDiscount">
                            <%= cartProducts.products.reduce((acc, value) =>{ return acc += value.productId.discount * value.quantity }, 0) %>
                        </span>
                    </p>
                </div>
                <div class="cart_details"> 
                    <p>GST</p>
                    <p>
                        <i class="bi bi-currency-rupee"></i>
                        <span class="gst">  
                            <%= cartProducts.products.reduce((acc, value) =>{ return acc += Math.round( ((value.productId.price - value.productId.discount) * value.quantity) * 2 / 100) }, 0) %> 
                        </span>
                    </p>
                </div>
                <div class="cart_details"> 
                    <p>Delivery Charge</p>
                    <p style="color: rgb(0, 158, 0); font-weight: 600;">FREE DELIVERY</p>
                </div>
            </div>
            <div class="total_amount"> 
                <p>Total Amount</p>
                <p>
                    <i class="bi bi-currency-rupee"></i>
                    <span class="cartTotalAmount">
                        <%= cartProducts.products.reduce((acc, value) =>{ return acc += (value.productId.price * value.quantity) - (value.productId.discount * value.quantity) + Math.round( ((value.productId.price - value.productId.discount) * value.quantity) * 2 / 100) }, 0) %>
                    </span>
                </p>
            </div>
            <div class="btn_div">
                <button class="place_order_btn">PLACE ORDER</button>
            </div>

        </div>
         
    </div>



    <%- include('../common/footer.ejs') %>

</div>
<%- include('../../end.ejs') %>

<script src="/js/common.js"></script>
<script src="/js/user/cart.js"></script>