<%- include('../common/header.ejs') %>
<div class="wrapper order_wrapper">
    <%- include('../common/topnav.ejs') %>
    <div class="content order_content">
        <%- include('../common/userLeft.ejs') %>

        <div class="right_content">
            <table>
                <thead>
                   <tr>
                      <th style="width: 30%;">PRODUCT</th>
                      <th style="width: 15%;">ORDER ID</th>
                      <th style="width: 10%;">AMOUNT</th>
                      <th style="width: 10%;">ORDER DATE</th>
                      <th style="width: 15%;">STATUS</th>
                   </tr>
                </thead>
             
                <tbody>
                    <% orders.forEach(order =>{ %>
                        <% order.productId.forEach(product =>{ %>
                            <tr class="td_tr" onclick="orderOpen('<%= order._id %>','<%= product.productId._id %>')">
                                <td class="product_td">
                                    <div class="img_section">
                                        <img src="/uploads/product/<%= product.productId.productImage[0] %>" style="height: 6rem; width: 5rem;" alt="">
                                    </div>
                                    <div class="product_details">
                                        <p class="order_product_name"><%= product.productId.productName %></p>
                                        <p class="order_size">Size : <span style="font-size: 1.1rem;"><%= product.size %></span></p>
                                        <p class="order_color">Quantity : <span><%= product.quantity %></span></p>
                                    </div>
                                </td>
                                <td><%= order._id %></td>
                                <td style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(255, 0, 0, 0.748);">
                                    <i class="bi bi-currency-rupee"></i><%= product.productId.price %>
                                </td>
                                <td style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(0, 0, 0, 0.748);"><%= order.orderDate.toDateString() %></td>
                                <td class="status delivered"><%= order.orderStatus %></td>
                            </tr>
                        <% }) %>
                    <% }) %>
                </tbody>

            </table>
        </div> 

    </div>

</div>
<%- include('../common/footer.ejs') %>
<%- include('../../end.ejs') %>

<script src="/js/user/count.js"></script>

<script>
    async function orderOpen(orderId,productId){
        try {
            window.location.href = `/account/orderOpen?orderId=${orderId}&productId=${productId}`
        } catch (error) {
            console.log(error);
        }
    }
</script>
