<%- include('../common/header.ejs') %>
<div class="wrapper category_products_wrapper">

    <%- include('../common/topnav.ejs') %>
    <div class="content catProducts_content">

        <header>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="#">ALL PRODUCTS</a></li>
                <li class="category_li">
                    <a href="#">ALL CATEGORY&nbsp;<i class="bi bi-chevron-down"></i></a>
                    <table class="drop_bar">
                        <% categories.forEach(cat =>{ %>
                        <tr>
                            <% cat.subCategory.forEach(subCat =>{ %>
                            <td onclick="location.href='/subcategory?subcategory_Id=<%= subCat %>'"><a href="#"><%= subCat %></a></td>
                            <% }) %>
                        </tr>
                        <% }) %>
                    </table>
                </li>
                <li class=""><a href="/category?category_name=Mens">MENS</a></li>
                <li class=""><a href="/category?category_name=Womens">WOMENS</a></li>
                <li class=""><a href="/category?category_name=Electronics">ELECTRONICS</a></li>
            </ul>
        </header>


        <!-- ========================================================================================================= -->


        <div class="product_section">
            <% categoryProducts.forEach(product =>{ %>
            <div class="product_frame_grid" onclick="location.href='/product?product_id=<%= product._id %>'">
                <div class="top">
                    <button class="wish_btn" onclick="wishlistUpdate(event,'<%= product._id %>')">
                        <i class="bi wishlist_heart<%= product._id %> <%= (()=>{
                                const listArray = wishlist ? wishlist.products : []
                                const productId = product._id
                                const exist = listArray.some(product => product.productId.equals(productId))
                                return exist ? 'bi-heart-fill' : 'bi-heart'
                            })() %> ">
                        </i>
                    </button>
                    <img src="/uploads/product/<%= product.productImage[0] %>" style="width: 85%; height: 90%;" alt="">
                </div>
                <div class="center">
                    <div class="name_div">
                        <p class="product_name"><%= product.productName %></p>
                    </div>
                    <div class="price_div">
                        <p class="old_price"><i class="bi bi-currency-rupee"> <%= product.price %></i></p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i><%= product.price - product.discount %></p>
                    </div>
                </div>
                <div class="bottom">
                    <button class="addto_cart_btn addto_cart_btn<%= product._id %>" onclick="addtoCart(event,'<%= product._id %>')">
                        <%= (()=>{
                           const productId = product._id
                           const listArray = cart ? cart.products : []
                           const exist = listArray.some(product => product.productId.equals(productId))
                           return exist ? 'GO TO CART' : 'ADD TO CART'
                        })() %>
                        <i class="bi add_toCart_plus<%= product._id %> <%= (()=>{
                              const productId = product._id
                              const listArray = cart ? cart.products : []
                              const exist = listArray.some(product => product.productId.equals(productId))
                              return exist ? 'bi-arrow-right-short' : 'bi-plus-lg'
                           })() %>">
                        </i>
                    </button>
                </div>                     
            </div>
            <% }) %>
        </div>

    </div>

    <%- include('../common/footer.ejs') %>
</div>
<%- include('../../end.ejs') %>

<script src="/js/user/wishlist.js"></script>
<script src="/js/user/cart.js"></script>
