<%- include('../common/header.ejs') %>
<div class="wrapper productopen_wrapper">
    <%- include('../common/topnav.ejs') %>
    
    <form id="singleProductForm" style="width: 100%;">
        <div class="content productopen_content" >
            <div class="main_frame">
                    <div class="product_frame" style="margin-top: 0px; height: 100%;">
                        <div class="img_frame">
                            <button type="button" class="prev_next_btn" onclick="prevImage('<%= JSON.stringify(product.productImage) %>')">
                                <i class="bi left_right_icon bi-caret-left"></i>
                            </button>

                            <div>
                                <img src = "/uploads/product/<%= product.productImage[0] %>" class="product_image_img" alt="" id="product_image_img_view" style="width:100%;">
                            </div>
                            <button type="button" class="prev_next_btn" onclick="nextImage('<%= JSON.stringify(product.productImage) %>')">
                                <i class="bi left_right_icon bi-caret-right"></i>
                            </button>
                        </div>
                        <div class="img_position" style="display: flex; width: 100%; justify-content: space-evenly; margin-bottom: 1rem;">
                            <% product.productImage.forEach(img =>{ %> 
                            <div style="width: 5rem; border-radius: 0%; cursor: pointer; border: 1px solid rgba(115, 115, 115, 0.277); border-radius: .2rem; overflow: hidden;">
                                <img class="pro_img_loop" src="/uploads/product/<%= img %>" style="width: 100%; height: 100%;" alt="" onclick="imageClicked('<%= img %>')">
                            </div>    
                            <% }) %>
                        </div>
                    </div>
                    <div class="product_detail_frame">
                        
                        <ul class="list-container">
                            <li style="font-size: 1.3rem; font-family: 'Poppins',sans-serif; font-weight: 600; color: white; ">
                                <%= product.productName %>
                            </li>
                            <li newPrice="<%= product.price - product.discount %>" price="<%= product.price %>" style="display: flex; gap: .7rem; align-items: center; margin-top: .5rem;">
                                <p class="old_price">
                                    <i class="bi bi-currency-rupee"></i>
                                    <%= product.price %>
                                </p>
                                <p class="new_price">
                                    <i class="bi bi-currency-rupee"></i>
                                    <%= product.price - product.discount %>  
                                </p>
                            </li>

                            <!-- ========================================== -->
                    
                            <li style="display: flex; gap: .7rem; align-items: center; height: 2rem;">
                                <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                                    <i class="bi bi-check"></i>
                                    <i class="bi bi-x"></i>
                                </div>
                            </li>

                            <!-- ===================================== -->

                            <div class="top_rating" style="<%= productReview ? 'display:block;' : 'display:none;' %>">
                                <span style="font-size: 1.3rem;">
                                    <%= productReview ? productReview.review.reduce((acc, value, index) => acc + value.rating, 0 ) / ( productReview.review.length || 1 ) : '' %>
                                </span>
                                <i class="bi top_star bi-star-fill"></i>
                                <span style="font-size: .7rem; font-family: 'Poppins',sans-serif;">
                                    Out of &nbsp;
                                    <span>
                                        <%= productReview ? productReview.review.length || 1 : '' %>
                                    </span> 
                                    &nbsp; Reviews
                                </span>
                            </div>
                            
                            <!-- =========================================================== -->
                    
                            <li class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgb(255, 255, 255);">
                                    SIZE :
                                </p>
                                <select name="size" id="product_Size" onclick="">
                                    <% product.size.forEach((size)=>{ %>
                                        <option id="crsize" value="<%= size %>"><%= size %></option>
                                    <% }) %>
                                </select>
                                </li>
                                    
                            <!-- ======================================== -->

                            <li class="color_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(255, 255, 255, 0.947);">
                                    COLOR :
                                </p>
                                <span style="background-color:<%= product.colour %>;" class="label_span_color">
                                    <input  id="product_colour" name="color" value="<%= product.colour %>" type="radio" >
                                    <label for=""></label>
                                </span>
                            </li>
                            
                            <!-- =================================================== -->
                            
                            <li>
                                <div style="display: flex; gap: 1rem; align-items: center;">
                                    <div class="stock_left">Hurry only a few LEFT</div>
                                    <div class="wish_btn_div">
                                        <button class="wish_btn">
                                            <i class="bi wish_white wish_icon bi-heart;"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>

                            <!-- ======================================= -->

                            <li style="height: 10rem; flex-direction: column; align-items: start; gap: .3rem;">
                                <p class="disc_p">Description</p>
                                <div class="discription_frame">
                                    <pre><%= product.descriptions %></pre>
                                </div>
                            </li>

                            <!-- ======================================================= -->

                            <li style="height: 4rem;">
                                <p style="font-family:'Times New Roman', Times, serif;">
                                    Delivery Within <%= product.deliveryDate %> &nbsp;days
                                    <span style="color: rgb(0, 179, 0);"></span>
                                </p>
                            </li>

                            <!-- =================================================================== -->

                            <li class="btn_li" style="display: flex; height: 3rem; justify-content: space-between; width: 90%;">
                                <button type="button" class="addto_cart_btn addto_cart_btn<%= product._id %>" onclick="addtoCart(event,'<%= product._id %>')">
                                    <%= (()=>{
                                        const productId = product._id
                                        const listArray = cart ? cart.products : []
                                        const exist = listArray.some(product => product.productId.equals(productId))
                                        return exist ? 'GO TO CART' : 'ADD TO CART'
                                    })() %>
                                    <i class="bi add_toCart_plus<%= product._id %> <%= (()=>{
                                            const productId = product._id
                                            const listArray = cart ? cart.products : []
                                            const exist = listArray.some(product => product.productId.equals(productId))
                                            return exist ? 'bi-arrow-right-short' : 'bi-plus-lg'
                                        })() %>">
                                    </i>
                                </button>
                                <button type="submit" id="singleProductBuy" productId="<%= product._id %>">BUY NOW</button>
                            </li>
                        
                        </ul>

                    </div>
    </form>

            </div>                  
        </div>

        <!-- ============================================================================================================================ -->

        <div class="product_frame_related">

            <div class="product_top">RELATED PRODUCTS</div>
            <div class="product_bottom">
                <% relatedProducts.forEach(relatedProduct =>{ %>
                <div class="product_frame_grid" onclick="productView(event,'<%= relatedProduct._id %>')">
                    <div class="top">
                        <img src="/uploads/product/<%= relatedProduct.productImage[0] %>" style="width: 85%; height: 90%;" alt="">
                        <button class="wish_btn" onclick="wishlistUpdate(event,'<%= relatedProduct._id %>')" style="margin-bottom: 10rem;">
                            <i class="bi wishlist_heart<%= relatedProduct._id %> <%= (()=>{
                                  const listArray = wishlist ? wishlist.products : []
                                  const productId = relatedProduct._id;
                                  const exist = listArray.some(product => product.productId.equals(productId))
                                  return exist ? 'bi-heart-fill' : 'bi-heart'
                               })() %>">
                            </i>
                         </button>
                    </div>
                    <div class="center">
                        <div class="name_div">
                            <p class="product_name"><%= relatedProduct.productName %></p>
                        </div>
                        <div class="price_div">
                            <p class="old_price"><i class="bi bi-currency-rupee"></i><%= relatedProduct.price %></p>
                            <p class="new_price"><i class="bi bi-currency-rupee"></i><%= relatedProduct.price - relatedProduct.discount %></p>
                        </div>
                    </div>
                    <div class="bottom">
                        <button class="addto_cart_btn addto_cart_btn<%= relatedProduct._id %>" onclick="addtoCart(event,'<%= relatedProduct._id %>')">
                            <%= (()=>{
                               const productId = relatedProduct._id
                               const listArray = cart ? cart.products : []
                               const exist = listArray.some(product => product.productId.equals(productId))
                               return exist ? 'GO TO CART' : 'ADD TO CART'
                            })() %>
                            <i class="bi add_toCart_plus<%= relatedProduct._id %> <%= (()=>{
                                  const productId = relatedProduct._id
                                  const listArray = cart ? cart.products : []
                                  const exist = listArray.some(product => product.productId.equals(productId))
                                  return exist ? 'bi-arrow-right-short' : 'bi-plus-lg'
                               })() %>">
                            </i>
                        </button>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>


        <div class="product_frame_related" style="<%= productReview ? 'display:block' : 'display:none' %>">
            <div class="product_top">Ratings & Reviews</div>
            <h4 class="rating_number">
                <%= productReview ? productReview.review.reduce((acc, value, index) => acc + value.rating, 0 ) / ( productReview.review.length || 1 ) : '' %><i class="bi bi-star-fill review_Star" style="font-size: x-large;"></i>
            </h4>
            <h6 class="basedon_tex">Based on <span> <%= productReview ? productReview.review.length || 1 : '' %> </span> Reviews</h6>
            <div class="product_bottom product_review" style="<%= userReview ? 'displayblock;' : 'display:none' %>">
                <div class="review_frame" style="">
                    <div class="user_img_div">
                        <img class="user_img" src="/uploads/profile/<%= userReview ? userImage ? userImage : 'blank-profile-picture-973460_1920.png' : '' %>" alt="">
                    </div>
                    <div class="user_review">
                        <span class="star_rating"><span><%= userReview ? userReview.rating : '' %></span><i class="bi bi-star-fill"></i></span>
                        <p class="rating_para"><%= userReview ? userReview.review : '' %></p>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../common/footer.ejs') %>

    
</div>
<%- include('../../end.ejs') %>

<script src="/js/user/cart.js"></script>
<script src="/js/user/wishlist.js"></script>
<script src="/js/common.js"></script>
<script src="/js/user/productBuy.js"></script>
<script src="/js/user/count.js"></script>
