<%- include('../common/header.ejs') %>
<div class="wrapper editaddress_wrapper">

    <%- include('../common/topnav.ejs') %>
    
    <div class="content editaddress_content">
        
        <%- include('../common/userLeft.ejs') %>
        
        <div class="right_content">
            <div class="address_frame">
                <!-- <div class="pro_top"> -->
                    <h3 class="edit_text" style="text-align: center;">Edit Profile</h3>
                <!-- </div> -->

                <div class="form_frame" >
                    <form id="user_profile_form" spellcheck="false" >
                        <div class="top">
                            <div class="top_left">
                                <label for="username">User Name</label>
                                <input type="text" id="username" value="<%= signupData.username %>">
                                <div style="display: flex; gap: 1rem; width: 96%; padding: .5rem 0;">
                                    <span style="display: flex; flex-direction: column; gap: .2rem; width: 50%;">
                                        <label for="firstname" >First Name</label>
                                        <input type="text" id="firstname" value="<%= userProfile.firstname %>" name="firstname" style="width: 100%;" >
                                    </span>
                                    <span style="display: flex; flex-direction: column; gap: .2rem;  width: 50%;">
                                        <label for="lastname">Last Name</label>
                                        <input  value="<%= userProfile.lastname %>" id="lastname" type="text" name="lastname" style="width: 110%; padding-left: 1rem;" >
                                    </span>
                                </div>
                                <label for="email">Email</label>
                                <input style="" id="email" name="email" value="<%= signupData.email %>" type="text" >
                            </div>
                            <div class="top_right">
                                <div class="img_div">
                                    <img src="/uploads/profile/<%= userProfile.profileImage ? userProfile.profileImage : '' %>" id="imagePreview" class="product_img" alt="">
                                </div>
                                <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                                <div class="file_div" style="">
                                    <span class="choose_file"> CHOOSE </span>
                                    <input type="file" id="profileImage" name="profileImage" class="input_file">
                                </div>
                            </div>
                        </div>
                        <div class="bottom" style="padding: 0 1rem;">
                            <div style="display: flex; gap: 1rem; width: 96%; padding: .5rem 0;">
                                <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 55%;">
                                    <label for="dob">Mobile</label>
                                    <input  style="" value="<%= signupData.phone %>" id="mobile" type="number" name="phone">
                                </span>
                                <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 40%;">
                                    <label for="dob">DOB</label>
                                    <input  style="" id="DOB" value="<%= userProfile.DOB.toISOString().substring(0,10) %>" type="date" name="DOB">
                                </span>
                            </div>
                            <div style="display: flex; gap: 1rem; width: 94%; margin-top: .4rem;">
                                <span style="display: flex; flex-direction: column; gap: .2rem; width: 27%;">
                                    <label for="country">Country</label>
                                    <input  value="<%= userProfile.country %>" id="country" type="text" name="country" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                                </span>
                                <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                                    <label for="state">State</label>
                                    <input  value="<%= userProfile.state %>" id="state" type="text" name="state" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                                </span>
                                <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                                    <label for="district">District</label>
                                    <input  value="<%= userProfile.district %>" id="district" type="text" name="district" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                                </span>
                                <span style="display: flex; flex-direction: column; gap: .2rem; width: 19%;">
                                    <label for="zip">Pin</label>
                                    <input  value="<%= userProfile.zip %>" type="number" id="zip" maxlength="8" name="zip" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                                </span>
                            </div>
                            <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 94%;">
                                <label for="landmark">Landmark</label>
                                <input style="" id="landmark" value="<%= userProfile.landmark %>" type="text" name="landmark">
                            </span>
                            <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                                <label for="address">Address</label>
                                <textarea name="address" itemid="address" style="height:4rem;" id="text_area"><%= userProfile.address %></textarea>
                            </span>
                            <p class="error_msg" id="error_message" style="color: brown;"></p>
                            <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                                <button style="display: block;" type="button" class="update_profile_btn" id="profile_Edit_submit_btn">UPDATE PROFILE</button>
                            </span>
                        </div>
                    </form>
                </div>


            </div>

        </div>



        
    </div>

    <%- include('../common/footer.ejs') %>

</div>
<%- include('../../end.ejs') %>
<script src="/js/user/profileEdit.js"></script>