<div class="frame">
    <div class="left_bar">
        <ul>
            <li class="left_profile_li">
                <img src="/images/profile.png" alt="">
                <h3>HELLO</h3>
            </li>
            <li onclick="location.href='/account/address' " class="<%= state=='address'  ? 'active' : '' %>"><i class="bi bi_left_bar bi-person-circle"></i>Profile</li>
            <li onclick="location.href='/account/update_password' " class="<%= state==='updatepassword' ? 'active' : '' %>"><i class="bi bi_left_bar bi-shield-lock-fill"></i>Update Password</li>
            <li onclick="location.href='/account/orders' " class="<%= state==='orders' ? 'active' : '' %>"><i class="bi bi_left_bar bi-gift-fill"></i>Orders</li>
            <li onclick="location.href='/cart'"><i class="bi bi_left_bar bi-cart-fill"></i>Cart</li>
            <li onclick="location.href='/wishlist' " ><i class="bi bi_left_bar bi-heart-fill"></i>Wishlist</li>
            <li onclick="location.href='/account/aboutus' " class="<%= state==='aboutus' ? 'active' : '' %>"><i class="bi bi_left_bar bi-info-circle-fill"></i>About Us</li>
            <li onclick="location.href='/account/contactus' " class="<%= state==='contactus' ? 'active' : '' %>"><i class="bi bi_left_bar bi-telephone-fill"></i>Contact Us</li>
        </ul>
    </div>
    </div>