<%- include("../admin-header.ejs") %>
    <div class="container">

        <%- include("../adminnav.ejs") %>
        <div class="body">
            <%- include("../sidebar.ejs") %>

            <div class="content_part">

                <form id="add_product_form">
                    <div class="frame">
                        <div class="gap_div">
                            <div class="card_div">
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <div id="add_product_name_error"></div>
                                    <input type="text" id="productName" name="productName" placeholder="Enter product name">
                                </div>
                
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <div id="add_product_price_error"></div>
                                    <input type="number" id="price" name="price" placeholder="Enter price">
                                </div>
                
                                <div class="form-group">
                                    <label for="discount">Discount</label>
                                    <div id="add_product_discount_error"></div>
                                    <input type="number" id="discount" name="discount" placeholder="Enter discount">
                                </div>
                
                                <div class="form-group">
                                    <label for="stock">Stock</label>
                                    <div id="add_product_stock_error"></div>
                                    <input type="number" id="stock" name="stock" placeholder="Enter stock">
                                </div>
                
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <div id="add_product_category_error"></div>
                                    <select id="category" name="category" onchange="categoryView(event)">
                                        <option value="" selected disabled>Select category</option>
                                        <% category.forEach((cat) =>{ %>    
                                            <option value="<%= cat.category %>"><%= cat.category %></option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group" id="subcategory_display_div" style="display:none; padding: 0.5rem; border-radius: 4px;">
                                    <label for="subCategory">Sub Category</label>
                                    <div id="add_product_sub-category_error"></div>
                                    <select name="subCategory" id="subCategory" style="width: 95%;">
                                        <option value="" selected disabled>Select sub category</option>
                                        <% category.forEach(categorys =>{ %> 
                                            <% categorys.subCategory.forEach(element =>{ %>
                                                <option value="<%= element %>"> <%= element %></option> 
                                            <% }) %> 
                                        <% }) %> 
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="deliveryDate">Delivery Date</label>
                                    <div id="add_product_delivery-date_error"></div>
                                    <input type="number" id="deliveryDate" name="deliveryDate" placeholder="Enter delivery date">
                                </div>
                
                                <div class="form-group">
                                    <label for="colour">Colour</label>
                                    <div id="add_product_colour_error"></div>
                                    <select name="colour" id="colour">
                                        <option value="" selected disabled>Select color</option>
                                        <option value="Red" style="color: #ff0000;">Red</option> 
                                        <option value="Blue" style="color: #0000ff;">Blue</option>
                                        <option value="Green" style="color: #00ff00;">Green</option>
                                        <option value="Black" style="color: #000000;">Black</option>
                                        <option value="Orange" style="color: #f98000;">Orange</option>
                                        <option value="Yellow" style="color: #ffea00;">Yellow</option>
                                        <option value="White" style="color: #ffffff;">White</option>       
                                        <option value="Pink" style="color: #e00d92;">Pink</option>  
                                        <option value="Grey" style="color: #a1a0a1;">Grey</option>        
                                        <option value="Brown" style="color: #4f2a2a;">Brown</option>        
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="size">Size</label>
                                    <div id="add_product_size_error"></div>
                                    <!-- <div class="dropdown"> -->
                                        <!-- <input type="text" style="width: 95%; position:relative;">
                                        <ul style="display: none; position:absolute;">
                                            <li><input type="checkbox" id="s" name="s" value="s"><label for="s">Small</label></li>
                                            <li><input type="checkbox" id="m" name="m" value="m"><label for="m">Medium</label></li>
                                            <li><input type="checkbox" id="l" name="l" value="l"><label for="l">Large</label></li>
                                            <li><input type="checkbox" id="xl" name="xl" value="xl"><label for="xl">X-Large</label></li>
                                            <li><input type="checkbox" id="xxl" name="xxl" value="xxl"><label for="xxl">XX-Large</label></li>
                                        </ul> -->
                                        <select name="size" id="size">
                                            <option value="" selected disabled>Choose Size</option>                                            
                                            <option value="S">Small</option>
                                            <option value="M">Medium</option>
                                            <option value="L">Large</option>
                                            <option value="XL">X-Large</option>
                                            <option value="XXL">XX-Large</option>
                                        </select>
                                    <!-- </div> -->
                                </div>
                
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <div id="add_product_description_error"></div>
                                    <textarea id="descriptions" name="descriptions" class="descriptions"></textarea>
                                </div>
                                <div class="form-group">

                                    <button type="submit" id="add_product_btn">Submit</button>
                                </div>
                            </div>
                            <div class="img_div">      
                                <div class="form-group img_centr">            
                                    <div class="image_space">
                                        <img src="" alt="" id="imagePreview" style="width: 100%; height: 100%;">
                                    </div>
                                    <div id="add_product_image_error"></div>
                                   <div class="image_buttn">
                                        Choose Image
                                    <input type="file" id="productImage" name="productImage" onchange="previewImage(this)" multiple>
                                   </div>
                                   <div id="errorMain" style="color: brown; margin-top: 1rem;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                         
            </div>
        </div>
    </div>

<%- include("../../end.ejs") %>

<script src="/js/admin/addProduct.js"></script>

