<%- include("../admin-header.ejs") %>
<div class="container">
    <%- include("../adminnav.ejs") %>
    <div class="body">
        <%- include("../sidebar.ejs") %>
        
        <div class="content_part">
            
            <div class="user_list_head">
                <p style="font-size: x-large; padding-left: 1.5rem;">Users</p>
            </div>
            <div class="user_list">
                <div class="user_table">

                    <table>
                       <thead>
                           <tr>
                            <th style="width: 9rem; max-width: 11rem;">User Id</th>
                            <th style="width: 6rem; max-width: 7rem;">Username</th>
                            <th style="width: 6rem; max-width: 7rem;">Email</th>
                            <th style="width: 5rem; max-width: 5rem;">Phone</th>
                            <th style="width: 3rem; max-width: 3rem;">Orders</th>
                            <th style="width: 12rem; max-width: 3rem;">Status</th>
                            <th style="width: 3.5rem; max-width: 5rem;">Action</th>
                        </tr>
                       </thead>
     
                       <tbody>
                        <% users.forEach(val =>{ %>
                            <tr id="userlist_tr">
                                <td><%= val._id %></td>
                                <td><%= val.username %></td>
                                <td><%= val.email %></td>
                                <td><%= val.phone %></td>
                                <td><%= val.orderCount %></td>
                                <td id="user_status<%= val._id %>" style="<%= val.blocked ? 'color:red;' : 'color:green;' %>">
                                    <%= (()=>{
                                        const blocked = val.blocked
                                        return blocked ? 'Blocked' : 'Active';
                                    })() %>
                                </td>
                                <td> 
                                    <i onclick="blockUser(event,'<%= val._id %>')" style="font-size: 1.2rem;" class="bi block_icon<%= val._id %>
                                    <%= (()=>{ 
                                        const blocked = val.blocked
                                        return blocked ? 'bi-person-fill' : 'bi-person-fill-slash' 
                                    })() %>"></i>
                                    <i class="bi bi-trash-fill " data-id="<%=val._id%>"></a></i><div id="errorMessage"></div> 
                                </td>
                            </tr>
                       <% }) %>
                       
                       </tbody>
    
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
<%- include("../../end.ejs") %>

<script src="/js/admin/deletUser.js"></script>

