<%- include("../admin-header.ejs") %>
<div class="container">
    <%- include("../adminnav.ejs") %>
    <div class="body">
        <%- include("../sidebar.ejs") %>
        
        <div class="content_part">
            
            <div class="user_list_head">
                <p style="font-size: x-large; padding-left: 1.5rem;">Users</p>
            </div>
            <div class="user_list">
                <div class="user_table">

                    <table>
                       <thead>
                        <tr>
                            <!-- <th style="width: 2rem; max-width: 2rem;">Sl.No</th> -->
                            <th style="width: 6rem; max-width: 7rem;">Username</th>
                            <th style="width: 6rem; max-width: 7rem;">Email</th>
                            <th style="width: 5rem; max-width: 5rem;">Phone</th>
                            <!-- <th style="width: 5rem; max-width: 5rem;">Reg.Date</th> -->
                            <th style="width: 3rem; max-width: 3rem;">Orders</th>
                            <th style="width: 12rem; max-width: 3rem;">Details</th>
                            <th style="width: 12rem; max-width: 3rem;">Status</th>
                            <th style="width: 3.5rem; max-width: 5rem;">Action</th>
                        </tr>
                       </thead>
     
                       <tbody>
                        <% users.forEach(val =>{ %>
                            <tr id="userlist_tr">
                                <td><%= val.username %></td>
                                <td><%= val.email %></td>
                                <td><%= val.phone %></td>
                                <!-- <td><%= val.createdat %></td> -->
                                <td><%= 0 %></td>
                                <td><a href="">link</a></td>
                                <td id="user_status<%= val._id %>">
                                    <%= (()=>{
                                        const blocked = val.blocked
                                        return blocked ? 'Blocked' : 'Active';
                                    })() %>
                                </td>
                                <td> 
                                    <i onclick="blockUser(event,'<%= val._id %>')" style="font-size: 1.2rem;" class="bi block_icon<%= val._id %>
                                    <%= (()=>{ 
                                        const blocked = val.blocked
                                        return blocked ? 'bi-person-fill' : 'bi-person-fill-slash' 
                                    })() %>"></i>
                                    <i class="bi bi-trash-fill " data-id="<%=val._id%>"></a></i><div id="errorMessage"></div> 
                                </td>
                            </tr>
                       <% }) %>
                       
                       </tbody>
    
    
                   </table>
                </div>
            </div>

        </div>

    </div>
</div>
<%- include("../../end.ejs") %>

<script>
 
async function blockUser(e,userId){
    try {
        const icon = document.querySelector(".block_icon" + userId)

        if(icon.classList.contains("bi-person-fill")){
            document.getElementById("user_status"+userId).innerHTML = "Active"
            icon.classList.replace("bi-person-fill","bi-person-fill-slash")
        }else{
            icon.classList.replace( "bi-person-fill-slash","bi-person-fill")
            document.getElementById("user_status"+userId).textContent = "Blocked"
        }

        await axios.patch(`/admin/user_list/block?user_id=${userId}`)

    } catch (error) {
        console.log(error);
    }
}  



</script>

<script>

document.querySelectorAll(".bi-trash-fill").forEach(deleteBtn =>{

deleteBtn.addEventListener("click", async (event)=>{
    event.preventDefault()
    const userId = deleteBtn.getAttribute("data-id");
    const userTr = deleteBtn.closest("tr")
    const errorMessage = document.getElementById("errorMessage")
    try {
        // const url = `/admin/user_List/delete_User?user_id=${encodeURIComponent(user_id)}`

        const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({

                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true,
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-secondary'
                }}).then( async (result) => {
                    if (result.isConfirmed) {
                        swalWithBootstrapButtons.fire({
                        title: "Deleted!",
                        text: "User has been deleted.",
                        icon: "success"
                        });

                        const url = `/admin/user_List/delete_User/${userId}`
                        const response = await axios.delete(url)
                        const result = response.data
                        
                        if(result.success){
                            userTr.remove()
                        }else{
                            errorMessage.innerHTML = "Failed"
                            setTimeout(() => {
                                errorMessage.innerHTML = "" 
                            }, 4000);
                        }
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire({
                        title: "Cancelled",
                        text: "Banner deletion cancelled",
                        icon: "error"
                        });
                    }
                });
                                
                        

    } catch (error) {
        console.log("user delete ",error.message);
    }
})
})

</script>

